**/__pycache__/
db_data/
*.pyc
*.pyo
*.log
.idea
.git
.venv
.env
.pytest_cache
.github/
tests/
.gitignore
.coverage
coverage.xml
Dockerfile
description.md
README.md
setup.cfg
pytest.ini
Makefile
.dockerignore
docker-compose.dev.yml
docker-compose.prod.yml
pyproject.toml
poetry.lock
